<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Agregar una categoria</h2>
<a href="/admin/categories" class="btn btn-primary">Atras a todas las categorias</a>
<br><br>

<form method="post" action="/admin/categories/add-category">
    
    <div class="form-group">
        <label for="">Titulo</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <button class="btn btn-default">Enviar</button>
</form>

<%- include('../_layouts/adminfooter') %>