            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <br><br>
                    <h4>Categorias</h4>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/products">Todos los Productos</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-8">
