<% include _layouts/header %>

    <section id="page-header" class="blog-header">

        <h2>#Leer más</h2>

        <p>Lee sobre todas las farmacias afiliadas a FarmaChain! </p>

    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/blog/blog1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Nuevo lanzamiento de App en PlayStore</h4>
                <p>La plataforma ha tomado un crecimiento del 40% de parte de los usuarios y es por eso que se sobre llevo a un nuevo escalon!..</p>
                <a href="#">CONTINUAR LEYENDO</a>
            </div>
            <h1>01/12</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/blog/blog2.png" alt="" style="object-fit: contain;">
            </div>
            <div class="blog-details">
                <h4>Nuevos miembros subscritos y afiliados a la plataforma</h4>
                <p>Que farmacia buscas?, te escuchamos</p>
                <a href="#">CONTINUAR LEYENDO</a>
            </div>
            <h1>14/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/blog/blog3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Encuentra que farmacias estan afiliados en FarmaChain</h4>
                <p>En FarmaChain puedes encontrar tu institucion farmaceutica favorita! entra Ya!</p>
                <a href="#">CONTINUAR LEYENDO</a>
            </div>
            <h1>23/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/blog/blog4.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>Pacientes no pueden acceder a
                    insumos médicos que son usados para tratamientos especiales</h4>
                <p>En Venezuela, los pacientes no pueden acceder a medicamentos específicos para 
                    ciertos tratamientos específicos, empeorando así su salud por no disponer de los mismos
                    a tiempo. </p>
                <a href="#">CONTINUAR LEYENDO</a>
            </div>
            <h1>16/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/images/blog/blog5.png" alt="">
            </div>
            <div class="blog-details">
                <h4>Ver mas de FarmaChain</h4>
                <p>Entra ya a FarmaChain y encuentra todo tipo de medicamentos ..</p>
                <a href="#">CONTINUAR LEYENDO</a>
            </div>
            <h1>10/03</h1>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Registrate para mas informacion!</h4>
            <p>Obten actualizaciones en email para recibir <span>ofertas especiales</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Tu correo electronico">
            <button class="normal">Registrar</button>
        </div>
    </section>

<% include _layouts/footer %>