<% include _layouts/header %>


<section id="page-header" class="about-header">

    <h2>#Contactanos</h2>
    <p>Dejanos un mensaje! te esperamos</p>

</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>PONTE EN CONTACTO!</span>
        <h2>Visita unas de nuestras franquicias mas cercana</h2>
        <h3>Contacto</h3>
        <div>
            <li>
                <i class="fal fa-map"></i>
                <p>62PQ+H24, Arterial 5, San Diego 2006, Carabobo</p>
            </li>
            <li>
                <i class="far fa-envelope"></i>
                <p>FarmaChain@hotmail.com </p>
            </li>
            <li>
                <i class="fas fa-phone-alt"></i>
                <p>FarmaChain@gmail.com </p>
            </li>
            <li>
                <i class="far fa-clock"></i>
                <p>Lunes a Domingo: 7.00am a 11.pm </p>
            </li>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=ujap&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="">
        <span>DEJANOS UN MENSAJE</span>
        <h2>Te atendemos en seguida</h2>
        <input type="text" name="" id="" placeholder="Your Name">
        <input type="text" name="" id="" placeholder="E-mail">
        <input type="text" name="" id="" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <button class="normal">Enviar</button>
    </form>

    <div class="people">
        <div>
            <img src="/images/1.png" alt="">
            <p><span>John Doe </span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@example.com</p>
        </div>
        <div>
            <img src="/images/2.png" alt="">
            <p><span>William Smith</span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@example.com</p>
        </div>
        <div>
            <img src="/images/3.png" alt="">
            <p><span>Emma Stone</span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@example.com</p>
        </div>
    </div>
</section>

<section id="newsletter" class="section-m1 section-p1">
    <div class="newstext">
        <h4>Sign Up For Newsletters </h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" name="" placeholder="Your email address" id="">
        <button class="normal">Sign Up</button>
    </div>
</section>

<% include _layouts/footer %>