<% include _layouts/header %>

<section id="hero">
    <h4>La cadena de farmacias</h4>
    <h2>En un solo lugar</h2>
    <h1>FarmaChain</h1>
    <p>Ahorra tiempo y recursos! </p>
    <button><a href="/products">Compra ahora</a></button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/images/nosotros/f1.png" alt="">
        <h6>Pide delivery</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f2.png" alt="">
        <h6>Ahorra tiempo</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f3.png" alt="">
        <h6>Ahorra dinero</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f4.png" alt="">
        <h6>Promociones</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f5.png" alt="">
        <h6>Ventas Felices</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f6.png" alt="">
        <h6>Soporte 24/7</h6>
    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Afiliate con FarmaChain </h4>
    <h2>Un <span>70% descuento </span> en tu primera semana</h2>
    <button class="normal">Explora mas</button>
</section>

<section id="product1" class="section-p1">
    <h3>Nuevas Actualizaciones</h3>
    <p>Mas disponibilidades</p>
    <div class="pro-container">
        <div class="pro">
            <img src="/images/productos/acetaminofen.jpg" alt="">
            <div class="des">
                <span>Dolor general</span>
                <h5>Acetaminofen</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$2.00</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/productos/atamel.jpg" alt="">
            <div class="des">
                <span>dolor general</span>
                <h5>Acetaminofen Atamel Forte 650 mg x 10 Tabletas	</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$2.02</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/productos/aguaoxigenada.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="/images/productos/teragrip.jpg" alt="">
            <div class="des">
                <span>botiquin y primero auxilios</span>
                <h5>Teragrip Forte 24H X 10 Tabletas Día + 4 Tabletas Noche	</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <button class="white">Collection</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
    </div>
    <div class="banner-box banner-box2">
    </div>
    <div class="banner-box banner-box3">
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Registrate para mas informacion!</h4>
        <p>Obten actualizaciones en email para recibir <span>ofertas especiales</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Tu correo electronico">
        <button class="normal">Registrar</button>
    </div>
</section>

<% include _layouts/footer %>