<% include _layouts/header %>

<h1>Iniciar Sesi칩n</h1>

<form method="post" action="/users/login">
    
    <div class="form-group">
        <label>Nombre de Usuario</label>
        <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
    </div>

    <div class="form-group">
        <label>Contrase침a</label>
        <input type="password" name="password" class="form-control"  placeholder="Contrase침a">
    </div>

    <button type="submit" class="btn btn-default">Iniciar Sesi칩n</button>
</form>

<% include _layouts/footer %>