<% include _layouts/header %>

<section id="page-header" class="about-header">

    <h2>Conócenos #FarmaChain</h2>

    <p>La cadena mas grande de farmacias a tu alcance</p>

</section>

<section id="about-head" class="section-p1">
    <img src="/images/nosotros/about1.png" alt="">
    <div>
        <h2>¿Quienes Somos?</h2>
        <p>Misión: 
            Ser la herramienta digital más usada de al menos el 90% instituciones farmacéuticas en 
            el territorio nacional para la primera mitad del 2024.
        </p>
        <p>     
            Visión: 
            Brindarle a las instituciones farmacéuticas y a los compradores una herramienta digital 
            capaz de que el flujo de insumos médicos sea mas eficiente y seguro y se convierta en el 
            estándar de la industria farmacéutica nacional.
        </p>
    </div>
</section>

<section id="about-app" class="section-p1">
    <h1>Descarga Ya nuestra<a href="#"> App</a> </h1>
    <div class="video">
        <img src="/images/nosotros/about3.png" alt="">
        <!-- <video autoplay muted loop src="/images/1.mp4"></video> -->
    </div>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/images/nosotros/f1.png" alt="">
        <h6>Pide delivery</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f2.png" alt="">
        <h6>Ahorra tiempo</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f3.png" alt="">
        <h6>Ahorra dinero</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f4.png" alt="">
        <h6>Promociones</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f5.png" alt="">
        <h6>Ventas Felices</h6>
    </div>
    <div class="fe-box">
        <img src="/images/nosotros/f6.png" alt="">
        <h6>Soporte 24/7</h6>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Registrate para mas informacion!</h4>
        <p>Obten actualizaciones en email para recibir <span>ofertas especiales</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Tu correo electronico">
        <button class="normal">Registrar</button>
    </div>
</section>


<% include _layouts/footer %>