<% include _layouts/header %>

<h1>Registrar</h1>

<form method="post" action="/users/register">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="name" class="form-control" placeholder="Nombre">
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input type="text" name="email" class="form-control" placeholder="Correo">
    </div>
    
    <div class="form-group">
        <label>Nombre de Usuario</label>
        <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
    </div>

    <div class="form-group">
        <label>Contrase単a</label>
        <input type="password" name="password" class="form-control"  placeholder="Contrase単a">
    </div>
    
    <div class="form-group">
        <label>Confirmar Contrase単a</label>
        <input type="password" name="password2" class="form-control"  placeholder="Confirmar contrase単a">
    </div>

    <button type="submit" class="btn btn-default">Registrar</button>
</form>

<% include _layouts/footer %>